# Flutter / Dart gitignore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Platform native project files created by flutter create
android/
ios/
linux/
macos/
web/
windows/
.idea/
*.iml

# OS generated
.DS_Store
*.apk
*.aab
*.app
